
.nav-link {
  font-weight: 600;
  color: #2a2a2a !important; 
  position: relative;
  padding-bottom: 8px !important;
}

.nav-link:hover {
  color: #5c8b5e !important;
}


.nav-link.active {
  color: #5c8b5e !important;
  font-weight: 700;
}

.nav-link.active::after {
  content: '';
  position: absolute;
  width: 70%;
  height: 3px;
  bottom: 0;
  left: 15%;
  background-color: #5c8b5e;
}